.btn__superior{
    text-decoration: none;
    color: black;
    border-radius: 23px;
    padding: 10px 20px;
}
.btn__superior:hover{
    background-color: rgba(4, 104, 191, 0.1);
    color: black;
}
.fa-pen, .fa-bell, .fa-heart{
    margin-right: 10px;
}
.fa-sort-down{
    margin-left: 5px;
}
.nav__superior, .btn__mais{
    text-decoration: none;
    color: black;
    margin: 20px;
}
.btn__mais:hover{
    color: #049DBF;
}
.nav__superior:hover{
    color: black;
}
hr{
    background-color: rgba(59, 89, 45, 0.5);
}
.cor__verde{
    color: rgba(59, 89, 45, 1.0);
}
.conteudo__principal{
    background-color: rgba(4, 104, 191, 0.1);
}
.menu__lateral{
    background-color: #fff;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
img{
    width: 300px;
    height: 250px;
}
.fa-star{
    color: #049DBF;
}
destaque{
    color: #8F423B;
    margin: 0 15px;
}
destaque:hover{
    color: #D99E6A;
}
.menu__cor{
    background-color: rgba(217, 158, 106, 0.1);
}